<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" stopOnFailure="false" processIsolation="false" colors="true" stderr="true" backupGlobals="false" beStrictAboutTestsThatDoNotTestAnything="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="CitrusIntersection tests">
      <directory suffix="Test.php">tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="./phpunit.tdx"/>
  </logging>
  <source/>
</phpunit>
